#taskIcon{
  color: teal;
}

#iconFooter{
  margin-right: 5px;
}

#taskName{
  color: teal;
  font-size: 24px;
  margin-right: 7px;
}

.form_holder{
  margin-left: 10em;
  margin-right: 10em;
}
.form_holder_login{
  margin-left: 20em;
  margin-right: 20em;
}

.login_button{
  width: 25%;
  float: right;
}
.signup_button{
  width: 25%;
}

.fullWidth select{
  width: 100% !important;
}

.card_styling{
  display: inline-grid;
  width: 20%;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
}

.card_margin{
  text-align: left;
  margin-left: 2em;
  margin-right: 2em;
}
